@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    font-family: 'Roboto';
    font-size: 2rem;
    background-color: #272822;
    color: #F5793A;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Roboto';
    color: #85C0F9;
}

label {
    display: flex;
    flex-direction: row;
    width: 60rem;
    margin-bottom: 2rem;
}

input {
    height: 2rem;
    flex: 0 0 12rem;
    margin-left: 1rem;
}

input, select {
    border-radius: 0.4rem;
    font-size: 1.2rem;
}

select {
    height: 2rem;
    flex: 0 0 5rem;
    margin-left: 1rem;
    text-align: center;
}

input:focus, select:focus {
    border: 3px solid rgb(25, 0, 255);
}