@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    font-size: 30px;
    background-color: #272822;
    color: #F5793A;
}

h1 {
    font-size: 36px;
    font-family: 'Roboto';
    color: #85C0F9;
}

label {
    display: flex;
    flex-direction: row;
    width: 600px;
    line-height: 30px;
    margin-bottom: 30px;
}

input {
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
}

input, select {
    border-radius: 5px;
    font-size: 20px;
}

select {
    height: 30px;
    flex: 0 0 75px;
    margin-left: 10px;
    text-align: center;
}

input:focus, select:focus {
    border: 3px solid rgb(25, 0, 255);
}