@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

table {
    border-collapse: collapse;
}

table, th, td {
    font-family: 'Roboto';
    font-size: 15px;
    color: #A7B8F8;
    border: 1px solid #AE9C45;
}