@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

table, td {
    font-family: 'Roboto';
    font-size: .55rem;
    line-height: 1rem;
    color: #000000;
    font-weight: bolder;
    padding: 0.12rem;
}

th {
    font-family: 'Roboto';
    font-size: .6rem;
    line-height: 1rem;
    color: #99aab5;
    font-weight: bolder;
}

td {
    border-radius: 0.4rem;
}