@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

table {
    border-collapse: collapse;
    border-spacing: 0.5rem;
}

table, th, td {
    font-family: 'Roboto';
    font-size: .55rem;
    line-height: 1rem;
    color: #A7B8F8;
    border: 1px solid #AE9C45;
}